

.password_container{
    position: absolute;
    top: 250px;
    left: 40%;
    right: 40%;
    height: 300px;
    border: 1px solid black;
    width: 350px;
    padding: 1.2em;
    background:rgb(79, 73, 73);

}
.password_container h3{
    color: white;
}
.password_container button{
    font: bold;
    font-size: 1.2em;
    border: none;
    width: 100px;
    height: 30px;
    margin: 13px 0 0 10px;
    border-radius: 4px;
    background-color: rgb(24, 188, 247);
    cursor: pointer;
}
@media(max-width:900px){
    .password_container{
        left: 30%;
    }
}
@media(max-width:700px){
    .password_container{
        left: 25%;
        width: 250px;
    }
}
@media(max-width:500px){
    .password_container{
        left: 15%;
    }
}